# Byte-compiled / optimized / DLL files
__pycache__/

# System files
.DS_Store

# Packaging
*.egg-info/

# Virtual environment
.venv/

# Project files
data*/
logs/
runs/

# Jupyter
data_manip.ipynb
sketchbook.ipynb

# Execute
jobs.txt